<!DOCTYPE html>
<html>
    <head>
        <title>upload file</title>
    </head>
    <body>

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label>name</label>
            <input type="file" name="file"> <br><br>
            <input type="submit" class="" value="upload">
        </form>
    </body>
</html>